:root {
  --ion-color-primary: #c878f0;
  --ion-color-primary-rgb: 200, 120, 240;
  --ion-color-secondary: #f8c8f8;
  --ion-color-secondary-rgb: 248, 200, 248;
  --ion-background-color: #f0f4f8;
  --ion-text-color: #333;
}